# Import package

In [ ]:
from datetime import datetime as dt

import plotly.express as px
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import seaborn as sns
import matplotlib.pyplot as plt
import os

# Load data

In [ ]:
PATH = '/../sample_data/entube_final.parquet'

In [ ]:
df = pd.read_parquet(PATH)

# Data Understanding

## sample

In [ ]:
df.head(5)

,channel_id,channel_name,channel_category,channel_started,channel_rank,channel_subscribers,id,title,title_length,categories,...,comment_count,dislike_count,like_per_view,comment_per_view,dislike_per_view,engagement_rate_1,engagement_rate_2,q_score,label_1,label_2
0,UC0jDoh3tVXCaqJ6oTve8ebA,FAP TV,Comedy,2014,2,12800000,nehrVdADdH0,[FAP TV ] Thông Báo Tuyển Diễn Viên Nam Film L...,14,Film & Animation,...,827,105,0.020731,0.002456,0.000312,0.023187,0.023499,0.970364,2,2
1,UC0jDoh3tVXCaqJ6oTve8ebA,FAP TV,Comedy,2014,2,12800000,K66wOEaBwK4,Phía Sau Một Cô Gái - Soobin Hoàng Sơn | MV Fa...,14,Comedy,...,1594,664,0.010124,0.000622,0.000259,0.010746,0.011005,0.950070,1,2
2,UC0jDoh3tVXCaqJ6oTve8ebA,FAP TV,Comedy,2014,2,12800000,D00vn3X7oI8,FAPtv Cơm Nguội: Tập 94 - Dấu Ấn Học Đường Phần 2,12,Entertainment,...,2214,3089,0.006007,0.000234,0.000326,0.006241,0.006568,0.896920,1,2
3,UC0jDoh3tVXCaqJ6oTve8ebA,FAP TV,Comedy,2014,2,12800000,G22G1k3G-kM,FAPtv Cơm Nguội: Tập 100 - Hành Trình Vui Vẻ,10,Entertainment,...,1752,2202,0.007931,0.000228,0.000287,0.008159,0.008446,0.930209,1,2
4,UC0jDoh3tVXCaqJ6oTve8ebA,FAP TV,Comedy,2014,2,12800000,G5EG7ymPErw,FAPtv Cơm Nguội: Tập 95 - Dấu Ấn Học Đường Phầ...,12,Entertainment,...,2417,2208,0.006485,0.000303,0.000277,0.006789,0.007066,0.918029,1,2

## size

In [ ]:
len(df)

23738

## missing_rate of video

In [ ]:
df.isnull().mean()

channel_id             0.000000
channel_name           0.000000
channel_category       0.000000
channel_started        0.000000
channel_rank           0.000000
channel_subscribers    0.000000
id                     0.000000
title                  0.000000
title_length           0.000000
categories             0.000000
description            0.017609
tags                   0.000000
num_tags               0.000000
upload_date            0.000000
delta_upload_date      0.000000
duration               0.000000
view_count             0.000000
like_count             0.000000
comment_count          0.000000
dislike_count          0.000000
like_per_view          0.000000
comment_per_view       0.000000
dislike_per_view       0.000000
engagement_rate_1      0.000000
engagement_rate_2      0.000000
q_score                0.000000
label_1                0.000000
label_2                0.000000
dtype: float64

## duplicated rate

In [ ]:
df = pd.read_parquet(PATH)

In [ ]:
len(df.drop_duplicates(['id']))/len(df)

1.0

In [ ]:
len(df)

23738

## check filter

### likes greate dislikes

In [ ]:
len(df[df['like_count'] > df['dislike_count']]) / len(df)

1.0

### no dislike

In [ ]:
len(df[df['dislike_count'] > 0]) / len(df)

1.0

### duration

In [ ]:
len(df[df['duration'] >= 1]) / len(df)

1.0

# EDA

## label

In [ ]:
pd.options.display.float_format = '{:,.6f}'.format
percentiles = [0.01] + [0.05*x for x in range(1, 20)] + [0.99]

### label 1

In [ ]:
def get_distribution_from_label(df, label: str, value: int,columns: list):
    return df[df[label] == value][columns].describe(percentiles=percentiles)

#### Not Engage

In [ ]:
label = 'label_1'
value = 0 # Not Engage
columns = ['label_1', 'engagement_rate_1']

In [ ]:
get_distribution_from_label(df, label, value, columns)

           label_1  engagement_rate_1
count 8,178.000000       8,178.000000
mean      0.000000           0.002890
std       0.000000           0.001121
min       0.000000           0.000002
1%        0.000000           0.000497
5%        0.000000           0.001073
10%       0.000000           0.001365
15%       0.000000           0.001609
20%       0.000000           0.001846
25%       0.000000           0.002042
30%       0.000000           0.002226
35%       0.000000           0.002395
40%       0.000000           0.002548
45%       0.000000           0.002717
50%       0.000000           0.002883
55%       0.000000           0.003057
60%       0.000000           0.003250
65%       0.000000           0.003426
70%       0.000000           0.003602
75%       0.000000           0.003799
80%       0.000000           0.004006
85%       0.000000           0.004203
90%       0.000000           0.004421
95%       0.000000           0.004666
99%       0.000000           0.004889
max       0.000000           0.004935

#### Neutral

In [ ]:
get_distribution_from_label(df, label, 1, columns)

           label_1  engagement_rate_1
count 7,107.000000       7,107.000000
mean      1.000000           0.007792
std       0.000000           0.001888
min       1.000000           0.004937
1%        1.000000           0.004989
5%        1.000000           0.005179
10%       1.000000           0.005411
15%       1.000000           0.005654
20%       1.000000           0.005900
25%       1.000000           0.006146
30%       1.000000           0.006410
35%       1.000000           0.006671
40%       1.000000           0.006934
45%       1.000000           0.007236
50%       1.000000           0.007571
55%       1.000000           0.007885
60%       1.000000           0.008221
65%       1.000000           0.008578
70%       1.000000           0.008927
75%       1.000000           0.009314
80%       1.000000           0.009709
85%       1.000000           0.010131
90%       1.000000           0.010621
95%       1.000000           0.011120
99%       1.000000           0.011545
max       1.000000           0.011633

#### Engage

In [ ]:
get_distribution_from_label(df, label, 2, columns)

           label_1  engagement_rate_1
count 8,453.000000       8,453.000000
mean      2.000000           0.028089
std       0.000000           0.040511
min       2.000000           0.011633
1%        2.000000           0.011761
5%        2.000000           0.012273
10%       2.000000           0.012939
15%       2.000000           0.013685
20%       2.000000           0.014426
25%       2.000000           0.015270
30%       2.000000           0.016128
35%       2.000000           0.016995
40%       2.000000           0.017939
45%       2.000000           0.019003
50%       2.000000           0.020088
55%       2.000000           0.021409
60%       2.000000           0.022896
65%       2.000000           0.024411
70%       2.000000           0.026432
75%       2.000000           0.028891
80%       2.000000           0.032060
85%       2.000000           0.036680
90%       2.000000           0.044352
95%       2.000000           0.061149
99%       2.000000           0.150831
max       2.000000           1.126157

### label 2

In [ ]:
label = 'label_2'
value = 0 # Not Engage
columns = ['label_2', 'q_score']

#### Not Engage

In [ ]:
get_distribution_from_label(df, label, value, columns)

           label_2      q_score
count 8,365.000000 8,365.000000
mean      0.000000     0.572580
std       0.000000     0.166587
min       0.000000     0.013158
1%        0.000000     0.094802
5%        0.000000     0.184915
10%       0.000000     0.333333
15%       0.000000     0.409231
20%       0.000000     0.458300
25%       0.000000     0.500000
30%       0.000000     0.521392
35%       0.000000     0.550712
40%       0.000000     0.576342
45%       0.000000     0.600000
50%       0.000000     0.615789
55%       0.000000     0.636364
60%       0.000000     0.654881
65%       0.000000     0.666667
70%       0.000000     0.684702
75%       0.000000     0.702830
80%       0.000000     0.714286
85%       0.000000     0.729203
90%       0.000000     0.743871
95%       0.000000     0.752809
99%       0.000000     0.764706
max       0.000000     0.764706

#### Neutral

In [ ]:
get_distribution_from_label(df, label, 1, columns)

           label_2      q_score
count 6,949.000000 6,949.000000
mean      1.000000     0.837657
std       0.000000     0.036972
min       1.000000     0.764745
1%        1.000000     0.767857
5%        1.000000     0.777715
10%       1.000000     0.782609
15%       1.000000     0.791127
20%       1.000000     0.800000
25%       1.000000     0.806452
30%       1.000000     0.814815
35%       1.000000     0.821149
40%       1.000000     0.828868
45%       1.000000     0.833950
50%       1.000000     0.841270
55%       1.000000     0.846154
60%       1.000000     0.853163
65%       1.000000     0.857988
70%       1.000000     0.864865
75%       1.000000     0.869565
80%       1.000000     0.875000
85%       1.000000     0.880577
90%       1.000000     0.885407
95%       1.000000     0.890571
99%       1.000000     0.894737
max       1.000000     0.894737

#### Engage

In [ ]:
get_distribution_from_label(df, label, 2, columns)

           label_2      q_score
count 8,424.000000 8,424.000000
mean      2.000000     0.937025
std       0.000000     0.023348
min       2.000000     0.894777
1%        2.000000     0.896371
5%        2.000000     0.900183
10%       2.000000     0.905411
15%       2.000000     0.910105
20%       2.000000     0.914600
25%       2.000000     0.918473
30%       2.000000     0.922284
35%       2.000000     0.925926
40%       2.000000     0.928968
45%       2.000000     0.932767
50%       2.000000     0.936075
55%       2.000000     0.939513
60%       2.000000     0.942950
65%       2.000000     0.946861
70%       2.000000     0.950448
75%       2.000000     0.954545
80%       2.000000     0.958628
85%       2.000000     0.963270
90%       2.000000     0.968573
95%       2.000000     0.976653
99%       2.000000     0.989346
max       2.000000     0.998071

## channel

In [ ]:
channel_df = (df
    .groupby(['channel_id'])
    .agg({'id': lambda x: x.nunique(),
          'channel_name': 'first',
          'channel_category': 'first',
          'channel_started': 'first',
          'channel_rank': 'first', 
          'channel_subscribers': 'first'})
)

channel_df = channel_df.reset_index()
channel_df.columns = [
    'channel_id', 'num_videos', 'channel_name',
    'channel_category', 'channel_started', 'channel_rank', 'channel_subscribers'              
]

In [ ]:
channel_df.describe(percentiles=percentiles)

In [ ]:
channel_df = (df
    .groupby(['channel_id'])
    .agg({'id': lambda x: x.nunique(),
          'channel_name': 'first',
          'channel_category': 'first',
          'channel_started': 'first',
          'channel_rank': 'first', 
          'channel_subscribers': 'first',
          'title_length': 'median',
          'num_tags': 'median',
          'delta_upload_date': 'median',
          'duration': 'median',
          'view_count': 'median',
          'like_count': 'median',
          'comment_count': 'median',
          'dislike_count': 'median',
          'like_per_view': 'median',
          'comment_per_view': 'median',
          'dislike_per_view': 'median',
          'engagement_rate_1': 'median',
          'engagement_rate_2': 'median',
          'q_score': 'median'})
)

channel_df = channel_df.reset_index()
channel_df.columns = [
    'channel_id', 
    'num_videos', 
    'channel_name',
    'channel_category', 
    'channel_started', 
    'channel_rank', 
    'channel_subscribers',
    'median_title_length', 
    'median_num_tags',
    'median_delta_upload_date',
    'median_duration',
    'median_view_count',
    'median_like_count', 
    'median_comment_count', 
    'median_dislike_count',
    'median_like_per_view', 
    'median_comment_per_view',
    'median_dislike_per_view', 
    'median_engagement_rate_1',
    'median_engagement_rate_2', 
    'median_q_score'     
]

In [ ]:
channel_df

In [ ]:
channel_df.to_json(DIR_PATH + 'channel_profiling.json')

### by channel_cate

In [ ]:
channel_cate_df = (channel_df
    .groupby(['channel_category'])
    .agg({
        'channel_name': 'count',
        'channel_started': 'min',
        'channel_rank': 'median',
        'channel_subscribers': 'median',
        'num_videos': 'median'
    })
)

In [ ]:
channel_cate_df = channel_cate_df.reset_index()

In [ ]:
channel_cate_df.columns = [
    'channel_category', 'num_channels', 'min_channel_started', 
    'median_channel_rank', 'median_channel_subscribers', 'median_num_videos'
]

In [ ]:
channel_cate_df.T

In [ ]:
channel_cate_df.to_json(DIR_PATH + 'channel_cate_1_profiling.json')

## video

### by channel_cate

In [ ]:
channel_cate_df = (df
    .groupby(['channel_category'])
    .agg({
        'id': 'count',
        'title_length': 'median',
        'num_tags': 'median',
        'delta_upload_date': 'median',
        'duration': 'median',
        'view_count': 'median',
        'like_count': 'median',
        'comment_count': 'median',
        'dislike_count': 'median',
        'like_per_view': 'median',
        'comment_per_view': 'median',
        'dislike_per_view': 'median',
    })
)

In [ ]:
channel_cate_df = channel_cate_df.reset_index()

In [ ]:
channel_cate_df.columns = [
    'channel_category', 'num_videos',
    'median_title_length', 'median_num_tags',
    'median_delta_upload_date', 'median_duration',
    'median_view_count', 'median_like_count', 
    'median_comment_count', 'median_dislike_count',
    'median_like_per_view', 'median_comment_per_view',
    'median_dislike_per_view', 
]

In [ ]:
channel_cate_df.T

In [ ]:
channel_cate_df

In [ ]:
channel_cate_df.to_json(DIR_PATH + 'channel_cate_2_profiling.json')

## by time series

### number of videos

In [ ]:
df['upload_date_by_year'] = df['upload_date'].dt.year

In [ ]:
df

In [ ]:
channel_cate_by_time_series_df = (df
    .groupby(['channel_category','upload_date_by_year'])
    .agg({
        'id': 'count',
        'engagement_rate_1': 'median',
        'engagement_rate_2': 'median',
        'q_score': 'median',
    })
)

channel_cate_by_time_series_df = channel_cate_by_time_series_df.reset_index()
channel_cate_by_time_series_df.columns = [
    'channel_category', 'upload_date_by_year',
    'num_videos', 'median_engagement_rate_1',
    'median_engagement_rate_2', 'median_q_score'                                          
]

In [ ]:
channel_cate_by_time_series_df.to_json(DIR_PATH + 'channel_cate_time_series_profiling.json')

In [ ]:
fig = px.line(channel_cate_by_time_series_df, x='upload_date_by_year', y='num_videos', color='channel_category')
fig.update_layout(title="Number of video by channel category and time series")
fig.update_layout(xaxis_title="Year of updoad date")
fig.update_layout(yaxis_title="Number of videos")
fig.show()

### engagement_rate_1

In [ ]:
fig = px.line(channel_cate_by_time_series_df, x='upload_date_by_year', y='median_engagement_rate_1', color='channel_category')
fig.update_layout(title="Median engagement rate 1 by channel category and time series")
fig.update_layout(xaxis_title="Year of updoad date")
fig.update_layout(yaxis_title="Median engagement rate 1")
fig.show()

### engagement_rate_2

In [ ]:
fig = px.line(channel_cate_by_time_series_df, x='upload_date_by_year', y='median_engagement_rate_2', color='channel_category')
fig.update_layout(title="Median engagement rate 2 by channel category and time series")
fig.update_layout(xaxis_title="Year of updoad date")
fig.update_layout(yaxis_title="Median engagement rate 2")
fig.show()

### q_score

In [ ]:
fig = px.line(channel_cate_by_time_series_df, x='upload_date_by_year', y='median_q_score', color='channel_category')
fig.update_layout(title="Median Q score by channel category and time series")
fig.update_layout(xaxis_title="Year of updoad date")
fig.update_layout(yaxis_title="Median Q score")
fig.update_yaxes(range = [0, 1])
fig.show()

## correlation

### by video

In [ ]:
def plot_corr(df, columns, label: str = ' by video'):
    fig, ax = plt.subplots(figsize=(10, 10))
    ax = sns.heatmap(df[columns].corr(), annot=True, fmt=".2f", linewidths=.5, square = True, cmap="Blues", vmin=-1, vmax=1)
    plt.xlabel('Engagement Metrics' + label, size = 15)
    plt.ylabel('Engagement Metrics' + label, size = 15)
    plt.title('Pearson correlation coefficient of Engagement Metrics' + label, size = 15)
    plt.show()

In [ ]:
columns = [
    'channel_subscribers',
    'delta_upload_date',
    'view_count',
    'like_count',
    'comment_count',
    'dislike_count'
]

In [ ]:
plot_corr(df, columns)

In [ ]:
columns = [
    'channel_subscribers',
    'delta_upload_date',
    'engagement_rate_1',
    'engagement_rate_2',
    'q_score'
]

In [ ]:
plot_corr(df, columns)

### by channel

In [ ]:
channel_df = (df
    .groupby(['channel_id'])
    .agg({
        'channel_subscribers': 'first',
        'channel_category': 'first',
        'channel_name': 'first',
        'delta_upload_date': 'median',
        'view_count': 'median',
        'like_count': 'median',
        'comment_count': 'median',
        'dislike_count': 'median',
        'engagement_rate_1': 'median',
        'engagement_rate_2': 'median',
        'q_score': 'median'})
)

channel_df = channel_df.reset_index()
channel_df.columns = [
    'channel_id', 'channel_subscribers', 'channel_category', 'channel_name', 'median_delta_upload_date',
    'median_view_count', 'median_like_count', 'median_comment_count', 'median_dislike_count',
    'median_engagement_rate_1', 'median_engagement_rate_2', 'median_q_score'              
]

In [ ]:
columns = [
    'channel_subscribers',
    'median_delta_upload_date',
    'median_view_count',
    'median_like_count',
    'median_comment_count',
    'median_dislike_count'
]

In [ ]:
plot_corr(channel_df, columns, label=' by channel')

In [ ]:
columns = [
    'channel_subscribers',
    'median_delta_upload_date',
    'median_engagement_rate_1',
    'median_engagement_rate_2',
    'median_q_score'
]

In [ ]:
plot_corr(channel_df, columns, label=' by channel')

# Train and test split

In [ ]:
train_df = df[df['upload_date'].dt.year < 2020]
val_df = df[df['upload_date'].dt.year == 2020]
test_df = df[df['upload_date'].dt.year > 2020]
columns = ['id', 'label_1', 'label_2']

In [ ]:
len(train_df[columns])

In [ ]:
len(val_df[columns])

In [ ]:
len(test_df[columns])